<!--<div id="contactusmap"></div>-->

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Office
      </div>
      <div class="card-block">
        <div class="card-text">
          <dt class="col">Email</dt>
          <dd class="col"><a href="mailto:info@dynamicgroupoffoundations.org"> info@dynamicgroupoffoundations.org</a></dd>
          <dt class="col">Contact Number</dt>
          <dd class="col">+918794781596, +918794914712</dd>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">Contact Person</div>
      <div class="card-block">
        <h4 class="card-title">
          Samananda Singh Irungbam
        </h4>
        <div class="card-text">
          <dt class="col">Job Title</dt>
          <dd class="col">Director</dd>

          <dt class="col">Contact Number</dt>
          <dd class="col"><a href="tel:+917628018740">+91 762801 8740</a></dd>

          <dt class="col">Email</dt>
          <dd class="col">
            <a href="mailto:samananda@dynamicgroupoffoundations.org">samananda@dynamicgroupoffoundations.org</a>
          </dd>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Alternate Contact Person
      </div>
      <div class="card-block">
        <h4 class="card-title">
          Johny Singh Soibam
        </h4>
        <div class="card-text">
          <dt class="col">Job Title</dt>
          <dd class="col">Manager</dd>

          <dt class="col">Contact Number</dt>
          <dd class="col"><a href="tel:+918794781596">+91 879478 1596</a></dd>

          <dt class="col">Email</dt>
          <dd class="col"><a href="mailto:Johny@dynamicgroupoffoundations.org">Johny@dynamicgroupoffoundations.org</a></dd>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14484.90799206838!2d93.9605744!3d24.8219096!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x19e6756496ae73d2!2sDynamic+Group+of+Foundations!5e0!3m2!1sen!2sin!4v1486654368057"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen onloadeddata="loaded()"></iframe>

  </div>
</div>