/* You can add global styles to this file, and also import other style files */
@import '~assets/css/bootstrap.css';
@import '~assets/css/bootstrap-grid.css';
@import '~assets/css/bootstrap-reboot.css';
@import '~assets/css/deeppurple-amber.css';
ngb-carousel {
    /*width: 800px;*/
    margin: auto;
}
.fixed-top{
    position: relative;
}

footer {
    bottom: 1px;
    position: relative;
}

carousel-item{
    margin: auto;
}

.item{
    margin: auto;
}
small{
    font-size: 9px;
}
.nav-item:hover > .dropdown-menu{
    display: block;
}
/*.nav-item:active > .dropdown-menu{
    display: none;
}*/
.dropdown-item:active > .dropdown-menu{
    display: none;
}


#contactusmap {
height: 10em;
}

    
*{
    font-size: 14px;
    font-family: Helvetica,Arial , sans-serif;
    color: #333;
}
projects{
    font-family: Courier New, Courier, monospace;
    font-size: 12px;
}

p{
    text-align: justify;
}

ul.list-footer{
    color: #0275d8;
    list-style: none;
}
.list-footer:focus li{
    color: #014c8c;
    text-decoration: underline;
}

md-card, .card{
    box-shadow: 1px;
}

.dropdown-menu{
    top: 2em;

}

nav{
    box-shadow: 1px 1px 3px;
}
.nav-items a{
    font-size: 14px;
}

  .img_head_logo {
    max-height: 10em;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  
  @media screen and (max-width: 416px){
    .header img.img_company{
        display: none;
    }
  }

    @media screen and (max-width: 900px){
    .header img.img_company{
        width: 40%;
    }
  }

  h1, h2, h3{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }