<carousel>
  <slide *ngFor="let image of carousal_images">
    <img src={{image.url}} alt="Random first slide" class="img img-fluid">
    <div class="carousel-caption">
      <h3>{{image.title}}</h3>
      <p style="text-align: center">{{image.caption}}</p>
    </div>
  </slide>
</carousel>

<div style="display: flex; justify-content: space-around; margin-top: 1em;">
  <md-card *ngFor="let image of highlight_images">
    <img md-card-image src={{image.url}} class="img img-fluid">
    <md-card-title>
      <h5>{{image.title}}</h5>
    </md-card-title>
    <md-card-actions>
      <a href="#">Read more...</a>
    </md-card-actions>
  </md-card>
</div>
<hr>
<div class="jumbotron">
  <blockquote class="blockquote lead" (mouseleave)="onmouseenter()" (mouseenter)="onmouseenter()"
    [@hover]="hover">{{visionText}}</blockquote>
</div>
<div class="card" style="width: 20rem;" *ngIf="false">
  <h4 class="card-title">Project Implementation Calendar</h4>
  <div style="min-height:290px;">
    <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
  </div>
</div>
<hr>
<projects></projects>
