<div class="card">

  <div class="card-header">
    Administrative Details
  </div>
  <div class="card-block">

    <dl class="row">
      <dt class="col-3">Name of the organization</dt>
      <dd class="col-9">Dynamic Group of Foundations</dd>

      <dt class="col-3">Nature</dt>
      <dd class="col-9">Trust</dd>

      <dt class="col-3">District</dt>
      <dd class="col-9">Imphal East</dd>

      <dt class="col-3">Town/City</dt>
      <dd class="col-9">Imphal</dd>

      <dt class="col-3">State</dt>
      <dd class="col-9">Manipur</dd>

      <dt class="col-3">Contact Number</dt>
      <dd class="col-9">+918794781596, +918794914712</dd>

      <dt class="col-3">Email</dt>
      <dd class="col-9"><a href="mailto:info@dynamicgroupoffoundations.org">info@dynamicgroupoffoundations.org</a></dd>

      <dt class="col-3">Website</dt>
      <dd class="col-9"><a href="dynamicgroupoffoundations.org">dynamicgroupoffoundations.org</a></dd>
      <hr>
      <dt class="col-3">Contact Person</dt>
      <dd class="col-9">
        Samananda Singh Irungbam
        <dl class="row">
          <dt class="col-3">Job Title</dt>
          <dd class="col-9">Director</dd>

          <dt class="col-3">Contact Number</dt>
          <dd class="col-9"><a href="tel:+917628018740">+91 762801 8740</a></dd>

          <dt class="col-3">Email</dt>
          <dd class="col-9"><a href="mailto:samananda@dynamicgroupoffoundations.org">samananda@dynamicgroupoffoundations.org</a></dd>
        </dl>
      </dd>
      <hr>
      <dt class="col-3">
        Alternate Contact Person
      </dt>
      <dd class="col-9">
        Johny Singh Soibam
        <dl class="row">
          <dt class="col-3">Job Title</dt>
          <dd class="col-9">Manager</dd>

          <dt class="col-3">Contact Number</dt>
          <dd class="col-9"><a href="tel:+918794781596">+91 879478 1596</a></dd>

          <dt class="col-3">Email</dt>
          <dd class="col-9"><a href="mailto:Johny@dynamicgroupoffoundations.org">Johny@dynamicgroupoffoundations.org</a></dd>
        </dl>
      </dd>
    </dl>
  </div>

  <div class="card">
    <div class="card-header">
      Legal Details
    </div>
    <div class="card-block">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Particulars</th>
            <th>Reference</th>
            <th>Validity</th>
          </tr>
        </thead>
        <tbody>
          <td>
            Societies Registration Act, Manipur
          </td>
          <td>27 of 2013
          </td>
          <td>-</td>
          <tr>
            <td colspan="3">
              <img src="assets/images/cert.jpg" class="img img-responsive" width="60%">
            </td>
          </tr>
          <tr>
            <td>Section 12(A) of the IT Act 1961</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Permanent Account Number</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>FCRA</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>FCRA Return</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Section 80(G) of the IT Act 1961</td>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>